@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700|Roboto:400,500');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  list-style: none;
}

button, input{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

table {
  border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: #666;
}
a:hover, a:focus {
  color: red;
}

html {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", "Nanum Gothic", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
    letter-spacing: 0.5px;
}

.wrapper {
  /* background-color: darkmagenta; */
  width: 100%;
  max-width: 600px;
  margin: 0 10%;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 10px 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 10px 0;
  color: rgb(112, 112, 112);
}

.header {
  /* background-color: salmon; */
  margin-bottom: 20px;
  padding-bottom: 20px;
  /* border-bottom: 2px solid #000; */
  /* display: flex; */
  /* justify-content: space-between; */
  position: relative;
}

.input-container {
  position: absolute;
  top: -10rem;
  right: 0;
}

input {
  border: darkgrey solid 1px;
  border-radius: 4px;
  margin: 10px 0;
  padding: 10px;
}

form {
  margin: 20px 0;
}


.text-field {
  width: calc(100% - 100px);
}

.submit {
  width: 90px;
  background: transparent;
}

.list-group {
  position: relative;
}

.list-group-item {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-start;
  /* margin: 5px 20px; */
  line-height: 2.6;
  border-bottom: 1px solid rgb(227, 227, 227);
  transition: all 0.2s ease;
}

.list-group-item::before {
  content: "";
  width: 16px;
  height: 16px;
  border: rgb(187, 187, 187) 2px solid;
  border-radius: 50%;
  margin-right: 10px;
  align-self: center;
  transition: all 0.2s ease;
}

.list-group-item.done {
  color: rgb(227, 227, 227);
}

.list-group-item.done::before {
  border: rgba(119, 119, 119, 0.3) 5px solid;
}

.list-group-item.done:hover::before {
  border-color: rgba(119, 119, 119, 0.3);
}

button {
  width: 40px;
  height: 40px;
  background: transparent;
  margin-left: auto;
}

.far {
  width: 100%;
  line-height: unset !important;
  vertical-align: middle;
  color: rgb(227, 227, 227);
  transition: all 0.2s ease;
}

.list-group-item:hover {
  border-bottom: 1px solid rgb(145, 145, 145);
}

.list-group-item:hover::before {
  border-color: rgb(97, 97, 97);
}


.list-group-item:hover .far {
  color: rgb(100, 100, 100);
}

.btn .far:hover {
  color: red;
  cursor: pointer;
}